{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}


	<div class="row justify-content-md-center">
		<div class="col-md-6 pb-4">
			<div class="card">
				<div class="card-header">
					Fill in your username and password to access your profile.
				</div>
				<div class="card-body">

					<form method="POST" action="/login">
						{{ form.csrf_token }}
				  
						<fieldset class="name p-1 ">
							<div>{{ form.email.label }}</div>
							<div>{{ form.email(placeholder='youremail@example.com') }}</div>
						</fieldset>
				  
						<fieldset class="name p-1 ">
							<div>{{ form.password.label }}</div>
							<div>{{ form.password }}</div>
						</fieldset>
				  
						<div class="submit-button p-1 pt-2">
						  {{ form.submit(class="btn btn-outline-dark") }}
						</div>
				  
						<div class="login-signup">
						  <span>Don't have an account?</span>
						  <a href="{{ url_for('auth.signup') }}">Sign up.</a>
						</div>
				  
					  </form>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
