<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" >
    <!-- Bootstrap JS -->
	<script src="{{ url_for('static', filename='bootstrap.bundle.min.js')}}"></script>
	<!-- Popper JS -->
	<script src="{{ url_for('static', filename='popper.min.js')}}"></script>

	<!-- Boostrap icons -->
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons.min.css')}}">

	<!-- jQuery -->
	<script src="{{ url_for('static', filename='jquery-3.7.1.min.js')}}"></script>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	<!-- Leaflet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css')}}" />
    <script src="{{ url_for('static', filename='leaflet.js')}}"></script>


	<!-- Data tables  -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables.min.css')}}"/>
	<script src="{{ url_for('static', filename='pdfmake.min.js')}}"></script>
	<script src="{{ url_for('static', filename='vfs_fonts.js')}}"></script>
	<script src="{{ url_for('static', filename='datatables.min.js')}}"></script>
	
	{% block header %}{% endblock %}
    <title>{% block title %}{% endblock %}TB-Profiler</title>

	<style>
		.disabled{
			pointer-events: none;
		}

	</style>
  </head>
  <body>
		<nav class="navbar  navbar-expand-lg sticky-top navbar-dark bg-dark  shadow">
			<a class="navbar-brand ps-3" href="{{ url_for('home.index') }}">TB-Profiler</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('home.index') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('upload.upload') }}">Upload</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('sra.sra') }}">SRA data</a>
					</li>
					
				</ul>
			</div>
		</nav>

		<div class="container-fluid">
			{% for message in get_flashed_messages() %}
    		    <div class="alert alert-danger mt-2" role="alert">
					<h3>Error:</h3>
					<div>
						{{ message }}
					</div>
				</div>
    		{% endfor %}
    		{% block content %}{% endblock %}
		</div>
		<hr>
	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<!-- 100% privacy friendly analytics -->
		<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
		<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
		<script>
			const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
			const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

		</script>
  </body>
</html>
