<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TBDR</title>
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

      <!-- jQuery -->
	<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>

    <!-- Data tables  -->
    <link href="{{ url_for('static', filename='css/datatables.min.css') }}" rel="stylesheet" integrity="sha384-u8dgf26aHZZCWHuOUWYEgi7awt0YyCkmnbZHBXgM8giP50g1EDI3EXLLn8Kl8ppd" crossorigin="anonymous">

<script src="{{ url_for('static', filename='js/datatables.min.js') }}" integrity="sha384-TE+6H6mkFyc2goEmLfSQicgCd/+UPOuinZ//Z5R7BWQIPDagUVir7LLVlB0ksl4u" crossorigin="anonymous"></script>
 
  	<!-- Leaflet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="{{ url_for('static', filename='js/leaflet.js') }}" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <script src="{{ url_for('static', filename='js/vega@6.2.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vega-lite@6.4.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vega-embed@7.1.0.js') }}"></script>


	{% block head %}{% endblock %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <style>
    @media (min-width: 992px) {
    .navbar .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}
  </style>

  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-white navbar-pill">
      <div class="container-fluid px-3">

        <div class="navbar-nav me-auto">
          <a class="nav-link" href="{{ url_for('home.index') }}">Home</a>
          <a class="nav-link" href="{{ url_for('upload.upload') }}">Upload</a>
          <li class="nav-item dropdown">
            <a
            class="nav-link dropdown-toggle"
            href="#"
            id="sraDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >
            SRA data
          </a>
          
          <div class="dropdown-menu" aria-labelledby="sraDropdown">
            <a class="dropdown-item" href="{{ url_for('sra.sra') }}">Overview</a>
            <a class="dropdown-item" href="{{ url_for('sra.browse') }}">Samples</a>
            <a class="dropdown-item" href="{{ url_for('variants.browse') }}">Variants</a>
          </div>
        </li>
      </div>
      <div class="navbar-nav ms-auto justify-content-end">

        <form class="result-search" method="post" role="search">
            <label class="visually-hidden" for="result-id-search">Result ID</label>
            <div class="input-group input-group-sm">
              <input id="result-id-search" class="form-control" name="result_id" type="search" placeholder="Result ID" required="">
              <button class="btn btn-primary" type="submit">View</button>
            </div>
          </form>
      </div>
    </div>
    </nav>


    <main class="container py-5" id="home">
      {% for message in get_flashed_messages() %}
    		    <div class="alert alert-danger mt-2" role="alert">
					<h3>Error:</h3>
					<div>
						{{ message }}
					</div>
				</div>
    		{% endfor %}
    		{% block content %}{% endblock %}
    </main>
  </body>
</html>
