{% import 'utils.html' as utils %}
{% extends 'base.html' %}

{% block header %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

<style media="screen">
    #mapid { height: 500px; }

    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }

    .legend {
        line-height: 18px;
        color: #555;
    }

    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }

</style>

{% endblock %}

{% block content %}

<div class="row justify-content-md-center pt-4">
    <div class="col-md-4 text-center">
        <h1><i>{{ gene }}</i> - {{ variant }}</h1>
        <hr>
    </div>
</div>

<div class="row justify-content-md-center pt-4 pb-4">
    <div class="col-md-10">
        <div>
            Note: the variant has been searched for in a non-representative convenience 
            dataset of samples from the ENA. This sampleset may contain overrepresentation 
            in certain categories such as geographic source, drug resistance type and 
            lineage. Interpretation of variant frequencies should be performed cautiously 
            with this in mind.
        </div>
    </div>
</div>


<section class="pb-5" aria-labelledby="resistance-title">
    <div class="dashboard-card">
        <div class="row align-items-center g-4 mb-4">
        
        <div class="col-lg-12 text-center">
            <h2 id="resistance-title" class="h3 mb-2">Drug-resistance profile</h2>
            <p class="mb-0 text-muted">
            Sample counts grouped by reported drug-resistance type.
            </p>
        </div>
        </div>

        <dl class="resistance-grid">
        <div>
            <dt>Susceptible</dt>
            <dd>{{dr_counts["Susceptible"]}}</dd>
        </div>
        <div>
            <dt>RR-TB</dt>
            <dd>{{dr_counts["RR-TB"]}}</dd>
        </div>
        <div>
            <dt>HR-TB</dt>
            <dd>{{dr_counts["HR-TB"]}}</dd>
        </div>
        <div>
            <dt>MDR-TB</dt>
            <dd>{{dr_counts["MDR-TB"]}}</dd>
        </div>
        <div>
            <dt>Pre-XDR-TB</dt>
            <dd>{{dr_counts["Pre-XDR-TB"]}}</dd>
        </div>
        <div>
            <dt>XDR-TB</dt>
            <dd>{{dr_counts["XDR-TB"]}}</dd>
        </div>
        <div>
            <dt>Other</dt>
            <dd>{{dr_counts["Other"]}}</dd>
        </div>
        </dl>
    </div>
    </section>


    <section class="pb-5" aria-labelledby="resistance-title">

        <div class="row justify-content-md-center">
            <div class="col-md-6">
                {{utils.counter_table(sample_data,"lineage",name="Lineage")}}
            </div>
            <div class="col-md-6">
                {{utils.counter_table(sample_data,"spoligotype",name="Spoligotype")}}
            </div>
        </div>
    </section>

    <section class="pb-5" aria-labelledby="resistance-title">

        <div class="row justify-content-md-center">
            <div class="col-md-8">
                {{utils.generic_table(drug_data,{"drug_id":"Drug","confidence":"Confidence","source":"Source","comment":"Comment"},"Drug associations","Drug resistance confidence according to the WHO 3rd edition mutation catalogue.")}}
            </div>
        </div>
    </section>
    
    <section class="pb-5" aria-labelledby="strain-title">
        
        <article class="dashboard-card">
            <h2 class="h3 mb-2">Sample locations</h2>
            <p class="text-muted mb-4">
                Geographic distribution of samples in the database.
            </p>
            <figure >
                {{ utils.draw_map(geojson, '500px') }}
                <figcaption class="small text-muted mt-3">
                    Samples can be mapped by country, region, or precise collection location.
                </figcaption>
            </figure>
        </article>
    </section>




<section class="pb-5" aria-labelledby="strain-title">

            {{ utils.bigtable(sample_data,[{ 'data': 'sample_link', 'title': 'ID' },	{ 'data': 'drtype', 'title': 'Drug resistance' },{ 'data': 'lineage', 'title': 'Lineage' },	{ 'data': 'iso_a3', 'title': 'Country iso3' }],"Samples")}}
</section>



{% endblock %}
