{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">

{% endblock %}

{% block title %}
	Upload -
{% endblock %}

{% block content %}
<div class="pt-4 pb-4">
	Upload your next generation sequencing data in <b>fastQ</b> format. Files will
	be processed using the tb-profiler pipeline with default parameters. You may
	select the technology used to generate the data (Illumina or Oxford Nanopore).
	Samples will be process with a first in first out policy so please be patient
	as there may be runs waiting to be processed before yours.

</div>
<div class="pb-4">
    <b>Please note:</b> at the moment we can only accomodate uploads of under 1GB.
    If you have files which are larger or you require many	isolates to be processed
    and have access to a linux or osX operating system then	it might be worthwhile
    to run the commandline version of tb-profiler. For more information on this please visit the
	<a href="https://github.com/jodyphelan/TBProfiler/">github repository</a>.
</div>


<div class="row justify-content-md-center">
	
	<div class="col-md-6 pb-4">
		<div class="card shadow border-dark">
			<div class="card-header bg-dark text-white">
				Batch upload
			</div>
			<div class="card-body">
				<p class="card-text">
					You can upload multiple samples together to batch process them. At the
					 moment batch uploading only supports paried end reads. By default, files must use
					 <b>_1.fastq.gz</b> and <b>_2.fastq.gz</b> as the file suffix in order for them
					 to be paired correctly. The suffix can be changed in the advanced options.
				</p>
                <form method="POST" action='{{ url_for("upload.file_upload",upload_id=upload_id) }}' class="dropzone dz-clickable" 
                    id="dropper" enctype="multipart/form-data">
                </form>
				<form method="post" enctype=multipart/form-data>
                    {{ form.csrf_token }}
                    
					
                    <div class="form-group">
						<div>{{form.platform.label}}:</div>
                        <div>{{form.platform}}</div>
					</div>
					
					<div class="form-group">
						<div>{{form.pairing.label}}:</div>
                        <div>{{form.pairing}}</div>
					</div>

					<a class="btn btn-outline-primary mt-4 mb-4" data-toggle="collapse" href="#advanced_options_collapse" role="button" aria-expanded="false" aria-controls="advanced_options_collapse">
						Advanced options
					</a>

					<div class="collapse" id="advanced_options_collapse">
						<h5>File suffix</h5>
						<div class="mb-2">
							Read suffix. Use this option to change the default suffix of files.
							For example if your fastq file is named <b>sample1_R1.fastq.gz</b>	 then your
							suffix should be <b>_R1.fastq.gz</b>
						</div>
						<div class="row">
							<div class="col-md-6">
                                <div>{{form.forward_suffix.label}}:</div>
                                <div>{{form.forward_suffix(value="_1.fastq.gz")}}</div>
							</div>
							<div class="col-md-6">
                                <div>{{form.reverse_suffix.label}}:</div>
                                <div>{{form.reverse_suffix(value="_2.fastq.gz")}}</div>
							</div>
						</div>


					</div>
					<hr>
					{{form.upload_id}}
                    {{form.submit(class="btn btn-outline-dark")}}
					
				</form>
			</div>
		</div>
	</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>

<script type="application/javascript">
    Dropzone.options.dropper = {
        paramName: 'file',
        chunking: true,
        forceChunking: true,
        url: '{{ url_for("upload.file_upload", upload_id=upload_id) }}',
        maxFilesize: 4025, // megabytes
        chunkSize: 100000000, // bytes
		timeout: 0
    }	
</script>


{% endblock %}
